# Force GitHub Linguist to detect Python files
*.py linguist-detectable=true
*.py linguist-language=Python

# Force GitHub Linguist to detect HTML files
*.html linguist-detectable=true
*.html linguist-language=HTML
