# Count only Python files
*.py linguist-detectable=true
*.py linguist-language=Python

# Ignore everything else
*.html linguist-detectable=true
*.css linguist-detectable=false
*.js linguist-detectable=false
*.json linguist-detectable=false
*.md linguist-detectable=false
