{% load static %}
<nav class="navbar">
  <div class="navbar-container">
    <div class="navbar-content">

      <div class="navbar-brand">
        <a href="{% url 'home' %}" class="navbar-brand">
          <img src="{% static 'images/VITLogo.png' %}" alt="VIT Logo" class="navbar-logo">
          <h1 class="text-2xl font-bold text-primary">Slotter</h1>
        </a>
      </div>

      <div class="navbar-links">
        <a href="{% url 'home' %}" class="navbar-link">Home</a>
        <a href="{% url 'student_login' %}" class="navbar-link">Student Login</a>
        <a href="{% url 'admin_login' %}" class="navbar-link">Admin Login</a>
      </div>

    </div>
  </div>
</nav>
